{% extends "layoutDashboard.html" %}

{% block content %}
<div class="container mb-4">
    <a href="{{url_for('manageUser')}}" type="button" class="btn btn-light mt-2"><i class="fa-solid fa-arrow-left"
            style="color: #3698F9;"></i></a>
    <h3 class="text-center mt-4">ADD USER</h3>
    <div class="content mt-2">
        <form method="post">
            <div class="mb-3">
                <label class="form-label">ID</label>
                <input class="form-control" name="id" type="text" placeholder="Student ID"
                    aria-label="default input example" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input class="form-control" name="name" type="text" placeholder="Name - Surname"
                    aria-label="default input example" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="email@ubu.ac.th" required>
            </div>
            <div class="mb-3">
                <label class="form-label" style="margin-bottom: 0;">Doors</label>
                <p class="text-muted" style="margin-bottom: 0;">Choose a door that can be unlocked.</p>
                {% for door in door %}
                <div class="form-check">
                    <input class="form-check-input" name="door" type="checkbox" value="{{ door['_id'] }}"
                        id="flexCheck{{ door['name'] }}">
                    <label class="form-check-label" for="flexCheck{{ door['name'] }}">
                        {{ door['name'] }} ({{ door['_id'] }})
                    </label>
                </div>
                {% endfor %}
            </div>
            <!-- <button type="submit">Submit</button> -->
            <button type="submit" class="btn btn-primary mb-3">Save</button>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {% if message == "Successfully added user." %}
        <p class="text-success">{{ message }}</p>
        {% else %}
        <p class="text-danger">{{ message }}</p>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <hr>
    <form method="post" action="/addUser" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="formFile" class="form-label">Import .csv file : <a
                    href="https://docs.google.com/spreadsheets/d/1GNITN6QIlSO8B-9jJiEhHm8oxo_lJS_142JOJ7DEaR0/edit?usp=sharing"
                    target="_blank">Template link</a></label>
            <input class="form-control" type="file" id="formFile" name="fileuerName">
        </div>
        <button type="submit" class="btn btn-primary mb-3">Save</button>
    </form>
</div>
{% endblock %}